In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
reviews = pd.read_csv('rotten_tomatoes_critic_reviews.csv' , index_col = 'review_date')
movies = pd.read_csv('rotten_tomatoes_movies.csv')

In [3]:
reviews.head()

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_content
review_date,,,,,,,
2010-02-06,m/0814255,Andrew L. Urban,False,Urban Cinefile,Fresh,NaN,A fantasy adventure that fuses Greek mythology...
2010-02-06,m/0814255,Louise Keller,False,Urban Cinefile,Fresh,NaN,"Uma Thurman as Medusa, the gorgon with a coiff..."
2010-02-09,m/0814255,NaN,False,FILMINK (Australia),Fresh,NaN,With a top-notch cast and dazzling special eff...
2010-02-09,m/0814255,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,Whether audiences will get behind The Lightnin...
2010-02-10,m/0814255,Ethan Alter,True,Hollywood Reporter,Rotten,NaN,What's really lacking in The Lightning Thief i...

In [4]:
print(f'Shape of the dataset: {reviews.shape[0]} x {reviews.shape[1]}')

Shape of the dataset: 1130017 x 7

In [5]:
# Accessing Information 

reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1130017 entries, 2010-02-06 to 2020-07-09
Data columns (total 7 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   rotten_tomatoes_link  1130017 non-null  object
 1   critic_name           1111488 non-null  object
 2   top_critic            1130017 non-null  bool
 3   publisher_name        1130017 non-null  object
 4   review_type           1130017 non-null  object
 5   review_score          824081 non-null   object
 6   review_content        1064211 non-null  object
dtypes: bool(1), object(6)
memory usage: 61.4+ MB

In [6]:
reviews.describe()

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_content
count,1130017,1111488,1130017,1130017,1130017,824081,1064211
unique,17712,11108,2,2230,2,814,949181
top,m/star_wars_the_rise_of_skywalker,Emanuel Levy,False,New York Times,Fresh,3/5,Parental Content Review
freq,992,8173,841481,13293,720210,90273,267