In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import category_encoders as ce 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
%matplotlib inline

In [2]:
df = pd.read_csv('machine.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   vendor_name  209 non-null    object
 1   model        209 non-null    object
 2   myct         209 non-null    int64
 3   mmin         209 non-null    int64
 4   mmax         209 non-null    int64
 5   cach         209 non-null    int64
 6   chmin        209 non-null    int64
 7   chmax        209 non-null    int64
 8   prp          209 non-null    int64
 9   erp          209 non-null    int64
dtypes: int64(8), object(2)
memory usage: 16.5+ KB

In [4]:
encoder = ce.OrdinalEncoder(cols = ['vendor_name','model'],return_df = True)
transformed = encoder.fit_transform(df)

In [5]:
transformed.describe()

,vendor_name,model,myct,mmin,mmax,cach,chmin,chmax,prp,erp
count,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000
mean,16.947368,105.000000,203.822967,2867.980861,11796.153110,25.205742,4.698565,18.267943,105.622010,99.330144
std,7.510384,60.477268,260.262926,3878.742758,11726.564377,40.628722,6.816274,25.997318,160.830733,154.757102
min,1.000000,1.000000,17.000000,64.000000,64.000000,0.000000,0.000000,0.000000,6.000000,15.000000
25%,11.000000,53.000000,50.000000,768.000000,4000.000000,0.000000,1.000000,5.000000,27.000000,28.000000
50%,18.000000,105.000000,110.000000,2000.000000,8000.000000,8.000000,2.000000,8.000000,50.000000,45.000000
75%,22.000000,157.000000,225.000000,4000.000000,16000.000000,32.000000,6.000000,24.000000,113.000000,101.000000
max,30.000000,209.000000,1500.000000,32000.000000,64000.000000,256.000000,52.000000,176.000000,1150.000000,1238.000000

In [6]:
transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   vendor_name  209 non-null    int64
 1   model        209 non-null    int64
 2   myct         209 non-null    int64
 3   mmin         209 non-null    int64
 4   mmax         209 non-null    int64
 5   cach         209 non-null    int64
 6   chmin        209 non-null    int64
 7   chmax        209 non-null    int64
 8   prp          209 non-null    int64
 9   erp          209 non-null    int64
dtypes: int64(10)
memory usage: 16.5 KB

In [7]:
feature = transformed.iloc[: , :]
label = transformed.iloc[:, 8]

In [8]:
feature.drop('prp' , inplace = True , axis = 1)

In [9]:
feature_list = list(feature)
label_list = list(label)
print("Its features: ", feature_list)
print("Its label: " , label_list)

Its features:  ['vendor_name', 'model', 'myct', 'mmin', 'mmax', 'cach', 'chmin', 'chmax', 'erp']
Its label:  [198, 269, 220, 172, 132, 318, 367, 489, 636, 1144, 38, 40, 92, 138, 10, 35, 19, 28, 31, 120, 30, 33, 61, 76, 23, 69, 33, 27, 77, 27, 274, 368, 32, 63, 106, 208, 20, 29, 71, 26, 36, 40, 52, 60, 72, 72, 18, 20, 40, 62, 24, 24, 138, 36, 26, 60, 71, 12, 14, 20, 16, 22, 36, 144, 144, 259, 17, 26, 32, 32, 62, 64, 22, 36, 44, 50, 45, 53, 36, 84, 16, 38, 38, 16, 22, 29, 40, 35, 134, 66, 141, 189, 22, 132, 237, 465, 465, 277, 185, 6, 24, 45, 7, 13, 16, 32, 32, 11, 11, 18, 22, 37, 40, 34, 50, 76, 66, 24, 49, 66, 100, 133, 12, 18, 20, 27, 45, 56, 70, 80, 136, 16, 26, 32, 45, 54, 65, 30, 50, 40, 62, 60, 50, 66, 86, 74, 93, 111, 143, 105, 214, 277, 370, 510, 214, 326, 510, 8, 12, 17, 21, 24, 34, 42, 46, 51, 116, 100, 140, 212, 25, 30, 41, 25, 50, 50, 30, 32, 38, 60, 109, 6, 11, 22, 33, 58, 130, 75, 113, 188, 173, 248, 405, 70, 114, 208, 307, 397, 915, 1150, 12, 14, 18, 21, 42, 46, 52, 67, 45]

In [10]:
feature_train , feature_test , label_train ,label_test = train_test_split(feature,label,test_size=0.2,random_state = 42) 
print('shape of feature_train : ',feature_train.shape)
print('shape of feature_test  : ',feature_test.shape  )
print('shape of label_train   : ', label_train.shape)
print('shape of label_test    : ', label_test.shape)

shape of feature_train :  (167, 9)
shape of feature_test  :  (42, 9)
shape of label_train   :  (167,)
shape of label_test    :  (42,)

In [11]:
model = LinearRegression()
model.fit(feature_train , label_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
pred = model.predict(feature_test)

In [13]:
result = zip(label_test , pred )

In [14]:

print("RMSE : " , np.sqrt(mean_squared_error(label_test , pred)))
print("R2 Score: " , r2_score(label_test , pred))

RMSE :  48.22325600429797
R2 Score:  0.9543188731057488