In [1]:
import pandas as pd 
import numpy as np 

import matplotlib.pyplot as plt 
import seaborn as sns 

import warnings 
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('Best Video Games of All Time.csv' )
df.head()

,Game,Ranking,Metascore,Platform,Release Date,Year,Unnamed: 6,Unnamed: 7
0,The Legend of Zelda: Ocarina of Time,1,99,Nintendo 64,November 23,1998,NaN,NaN
1,Tony Hawk's Pro Skater 2,2,98,PlayStation,September 20,2000,NaN,NaN
2,Grand Theft Auto IV,3,98,PlayStation 3,April 29,2008,NaN,NaN
3,SoulCalibur,4,98,Dreamcast,September 8,1999,NaN,NaN
4,Grand Theft Auto IV,5,98,Xbox 360,April 29,2008,NaN,NaN

In [3]:
df1 = df.copy()
df1.drop(['Unnamed: 6' , 'Unnamed: 7'] , axis = 1 , inplace = True )

In [4]:
Month = []
Day = []
Month_date = []
for i in df1['Release Date'] : 
    Month.append(i.split(' ')[0])
    Day.append(i.split(' ')[-1])


    
df1['Month'] = Month
df1['Day'] = Day


df1.head()

,Game,Ranking,Metascore,Platform,Release Date,Year,Month,Day
0,The Legend of Zelda: Ocarina of Time,1,99,Nintendo 64,November 23,1998,November,23
1,Tony Hawk's Pro Skater 2,2,98,PlayStation,September 20,2000,September,20
2,Grand Theft Auto IV,3,98,PlayStation 3,April 29,2008,April,29
3,SoulCalibur,4,98,Dreamcast,September 8,1999,September,8
4,Grand Theft Auto IV,5,98,Xbox 360,April 29,2008,April,29

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19106 entries, 0 to 19105
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Game          19106 non-null  object
 1   Ranking       19106 non-null  object
 2   Metascore     19106 non-null  object
 3   Platform      19106 non-null  object
 4   Release Date  19106 non-null  object
 5   Year          19106 non-null  object
 6   Month         19106 non-null  object
 7   Day           19106 non-null  object
dtypes: object(8)
memory usage: 1.2+ MB

In [6]:
df1.isnull().sum()

Game            0
Ranking         0
Metascore       0
Platform        0
Release Date    0
Year            0
Month           0
Day             0
dtype: int64

In [7]:
o = (df1.dtypes == 'object')

object_cols = o[o].index 

print(f'Categorical Variables : {object_cols}')

Categorical Variables : Index(['Game', 'Ranking', 'Metascore', 'Platform', 'Release Date', 'Year',
       'Month', 'Day'],
      dtype='object')

In [8]:
df1['Month'].unique()

array(['November', 'September', 'April', 'May', 'October', 'March',
       'August', 'January', 'December', 'July', 'June', 'February',
       'Game', '01/03/31', 'PC', 'PlayStation', 'Switch', '82', '79',
       '78', 'GameCube', 'Xbox', 'Wii', 'PSP', '73', '72', '3DS', 'DS',
       '59', '57', 'Nintendo', '54'], dtype=object)

In [9]:
df1['Day'].unique()

array(['23', '20', '29', '8', '12', '26', '18', '17', '30', '6', '3',
       '28', '22', '27', '14', '7', '16', '13', '21', '25', '11', '10',
       '9', '19', '24', '31', '1', '5', '15', '4', '2', 'Advance',
       '01/03/31', 'PC', 'Switch', 'Vita', '82', '79', '78', 'GameCube',
       '360', 'Xbox', 'Wii', 'PSP', '73', '72', 'One', '3DS', 'DS',
       'PlayStation', '59', '57', '64', '54'], dtype=object)