In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
df = pd.read_csv('RNSE.csv')

In [3]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,RELIANCE,EQ,1-Jan-16,1014.60,1009.80,1018.9,1008.20,1013.6,1015.35,1015.52,1238135,1.257353e+09,30701,529539,42.77
1,RELIANCE,EQ,4-Jan-16,1015.35,1005.00,1013.8,986.70,993.2,995.30,998.91,6896571,6.889070e+09,66235,4974602,72.13
2,RELIANCE,EQ,5-Jan-16,995.30,1000.30,1010.0,997.00,1005.0,1005.15,1003.41,3416459,3.428125e+09,59935,1987804,58.18
3,RELIANCE,EQ,6-Jan-16,1005.15,1007.60,1038.4,1000.40,1029.1,1032.20,1028.15,6116855,6.289073e+09,160947,2912662,47.62
4,RELIANCE,EQ,7-Jan-16,1032.20,1021.05,1028.0,1008.05,1018.9,1013.25,1016.73,4512219,4.587700e+09,105075,2474491,54.84

In [4]:
df['Symbol'].unique()

array(['RELIANCE'], dtype=object)

In [5]:
df['Series'].unique()

array(['EQ', 'BL'], dtype=object)

In [6]:
df['Series'].value_counts()

EQ    1322
BL       2
Name: Series, dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1324 entries, 0 to 1323
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Symbol                  1324 non-null   object
 1   Series                  1324 non-null   object
 2   Date                    1324 non-null   object
 3   Prev Close              1324 non-null   float64
 4   Open Price              1324 non-null   float64
 5   High Price              1324 non-null   float64
 6   Low Price               1324 non-null   float64
 7   Last Price              1324 non-null   float64
 8   Close Price             1324 non-null   float64
 9   Average Price           1324 non-null   float64
 10  Total Traded Quantity   1324 non-null   int64
 11  Turnover                1324 non-null   float64
 12  No. of Trades           1324 non-null   int64
 13  Deliverable Qty         1324 non-null   int64
 14  % Dly Qt to Traded Qty  1324 non-null   float64
dtypes: float64(9), int64(3), object(3)
memory usage: 155.3+ KB

In [8]:
import category_encoders as ce 
encoder = ce.OrdinalEncoder(cols = ['Symbol','Series'] , return_df = True)
transformed_df = encoder.fit_transform(df)

In [9]:
transformed_df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,1,1,1-Jan-16,1014.60,1009.80,1018.9,1008.20,1013.6,1015.35,1015.52,1238135,1.257353e+09,30701,529539,42.77
1,1,1,4-Jan-16,1015.35,1005.00,1013.8,986.70,993.2,995.30,998.91,6896571,6.889070e+09,66235,4974602,72.13
2,1,1,5-Jan-16,995.30,1000.30,1010.0,997.00,1005.0,1005.15,1003.41,3416459,3.428125e+09,59935,1987804,58.18
3,1,1,6-Jan-16,1005.15,1007.60,1038.4,1000.40,1029.1,1032.20,1028.15,6116855,6.289073e+09,160947,2912662,47.62
4,1,1,7-Jan-16,1032.20,1021.05,1028.0,1008.05,1018.9,1013.25,1016.73,4512219,4.587700e+09,105075,2474491,54.84

In [10]:
transformed_df['Symbol'].value_counts()

1    1324
Name: Symbol, dtype: int64

In [11]:
transformed_df['Series'].value_counts()

1    1322
2       2
Name: Series, dtype: int64

In [12]:
transformed_df['Date'].value_counts()

27-Mar-17    2
22-Mar-19    2
18-Mar-19    1
16-Mar-21    1
5-Nov-18     1
            ..
15-Feb-21    1
19-May-17    1
25-Sep-18    1
29-Aug-18    1
27-Feb-20    1
Name: Date, Length: 1322, dtype: int64

In [15]:
transformed_df['Date'].value_counts()

27-Mar-17    2
22-Mar-19    2
18-Mar-19    1
16-Mar-21    1
5-Nov-18     1
            ..
15-Feb-21    1
19-May-17    1
25-Sep-18    1
29-Aug-18    1
27-Feb-20    1
Name: Date, Length: 1322, dtype: int64