In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [3]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:

train_df.drop('Name' , inplace = True , axis = 1 )
train_df.drop('Ticket' , inplace = True , axis = 1)
train_df.drop('Cabin' , inplace = True , axis = 1)

In [5]:
train_df.head(1)

   PassengerId  Survived  Pclass   Sex   Age  SibSp  Parch  Fare Embarked
0            1         0       3  male  22.0      1      0  7.25        S

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB

In [7]:
age_mean = train_df['Age'].mean()
train_df['Age'].fillna(age_mean , inplace = True )

In [8]:
train_label = train_df.iloc[: , 1]

In [9]:
train_features = pd.get_dummies(train_df , drop_first = True)

In [10]:
train_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Age          891 non-null    float64
 4   SibSp        891 non-null    int64
 5   Parch        891 non-null    int64
 6   Fare         891 non-null    float64
 7   Sex_male     891 non-null    uint8
 8   Embarked_Q   891 non-null    uint8
 9   Embarked_S   891 non-null    uint8
dtypes: float64(2), int64(5), uint8(3)
memory usage: 51.5 KB

In [11]:
train_features.drop('Survived' , inplace = True , axis = 1)

In [12]:
train_features['Sex_male'] = train_features['Sex_male'].astype('int64')
train_features['Embarked_Q'] = train_features['Embarked_Q'].astype('int64')
train_features['Embarked_S'] = train_features['Embarked_S'].astype('int64')

In [13]:
train_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Pclass       891 non-null    int64
 2   Age          891 non-null    float64
 3   SibSp        891 non-null    int64
 4   Parch        891 non-null    int64
 5   Fare         891 non-null    float64
 6   Sex_male     891 non-null    int64
 7   Embarked_Q   891 non-null    int64
 8   Embarked_S   891 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 62.8 KB

In [14]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [15]:
test_df.drop('Name' , inplace = True , axis = 1)
test_df.drop('Ticket' , inplace = True , axis = 1)
test_df.drop('Cabin' , inplace = True , axis = 1)

In [16]:
age_mean = test_df['Age'].mean()
test_df['Age'] = test_df['Age'].fillna(age_mean)
fare_mean = test_df['Fare'].mean()
test_df['Fare'] = test_df['Fare'].fillna(fare_mean)

In [17]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    object
 3   Age          418 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Fare         418 non-null    float64
 7   Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 26.2+ KB

In [18]:
test_features = pd.get_dummies(test_df , drop_first = True)

In [19]:
test_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Age          418 non-null    float64
 3   SibSp        418 non-null    int64
 4   Parch        418 non-null    int64
 5   Fare         418 non-null    float64
 6   Sex_male     418 non-null    uint8
 7   Embarked_Q   418 non-null    uint8
 8   Embarked_S   418 non-null    uint8
dtypes: float64(2), int64(4), uint8(3)
memory usage: 20.9 KB

In [20]:
test_features['Sex_male'] = test_features['Sex_male'].astype('int64')
test_features['Embarked_Q'] = test_features['Embarked_Q'].astype('int64')
test_features['Embarked_S'] = test_features['Embarked_S'].astype('int64')

In [21]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(random_state= 32)
model.fit(train_features,train_label)
prediction = model.predict(test_features)

In [22]:
result = zip(train_features['Parch'] , prediction)
print(list(result))

[(0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (1, 0), (2, 1), (0, 0), (1, 0), (0, 0), (0, 1), (5, 0), (0, 1), (0, 1), (1, 0), (0, 0), (0, 0), (0, 0), (0, 1), (0, 1), (0, 1), (0, 0), (1, 1), (5, 0), (0, 1), (2, 0), (0, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 1), (0, 0), (2, 1), (0, 1), (0, 0), (0, 1), (0, 0), (0, 1), (0, 1), (1, 0), (0, 0), (0, 1), (0, 1), (1, 0), (0, 0), (0, 0), (0, 0), (2, 0), (2, 1), (0, 0), (0, 0), (0, 0), (2, 1), (0, 1), (1, 1), (0, 1), (0, 0), (2, 1), (0, 1), (0, 1), (2, 0), (0, 0), (0, 1), (0, 1), (0, 0), (0, 0), (0, 1), (2, 0), (0, 1), (0, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (3, 1), (0, 0), (2, 0), (0, 1), (0, 0), (0, 0), (0, 1), (2, 0), (0, 1), (0, 0), (0, 1), (1, 0), (1, 0), (0, 0), (0, 1), (0, 0), (1, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 1), (0, 0), (0, 1), (0, 0), (0, 0), (0, 1), (1, 0), (2, 1), (0, 1), (0, 0), (0, 1), (0, 0), (1, 0), (0, 1), (0, 0), (0, 0), (1, 0), (0, 0), (0, 0), (0, 1), (0, 0), (0, 0), (0, 0), (0, 0), (2, 0), (0, 0), (0, 0), (0, 0), (2, 0), (0, 1), (0, 0), (0, 0), (0, 1), (1, 0), (0, 0), (2, 0), (2, 1), (0, 0), (0, 1), (0, 0), (0, 0), (2, 1), (0, 0), (1, 0), (0, 1), (0, 0), (0, 1), (2, 1), (1, 0), (0, 1), (0, 1), (0, 0), (1, 0), (2, 0), (1, 0), (4, 0), (0, 1), (0, 0), (0, 0), (1, 0), (1, 0), (0, 0), (0, 0), (1, 1), (1, 1), (0, 1), (0, 1), (0, 1), (2, 0), (0, 0), (2, 1), (1, 0), (2, 1), (0, 0), (0, 1), (0, 0), (1, 0), (0, 0), (0, 0), (0, 0), (0, 1), (1, 0), (0, 1), (0, 0), (0, 1), (1, 0), (0, 0), (0, 0), (0, 0), (2, 1), (0, 0), (0, 1), (0, 0), (1, 0), (0, 0), (0, 0), (0, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 1), (0, 0), (0, 1), (0, 0), (0, 1), (0, 0), (0, 1), (0, 0), (0, 0), (0, 0), (0, 0), (1, 0), (0, 0), (0, 1), (0, 0), (2, 0), (0, 0), (0, 0), (0, 0), (2, 1), (0, 1), (0, 1), (0, 1), (0, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 1), (2, 0), (1, 1), (0, 0), (0, 1), (1, 0), (0, 0), (0, 0), (2, 0), (2, 0), (0, 0), (0, 0), (0, 1), (1, 0), (0, 0), (2, 0), (1, 1), (0, 1), (0, 0), (0, 0), (1, 0), (0, 0), (1, 0), (0, 0), (0, 0), (0, 0), (1, 1), (1, 1), (0, 0), (0, 1), (0, 0), (0, 0), (1, 0), (1, 0), (0, 0), (0, 1), (0, 0), (0, 0), (0, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 1), (2, 0), (0, 0), (1, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (2, 1), (0, 1), (0, 1), (0, 0), (0, 0), (0, 0), (2, 0), (1, 0), (0, 0), (1, 1), (0, 1), (0, 0), (0, 0), (2, 0), (1, 0), (0, 0), (0, 0), (0, 0), (1, 1), (2, 1), (0, 0), (0, 1), (0, 0), (1, 0), (1, 0), (0, 1), (0, 1), (1, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (1, 0), (2, 0), (0, 0), (0, 1), (0, 0), (0, 0), (0, 0), (0, 1), (1, 0), (0, 1), (0, 1), (0, 0), (1, 0), (0, 0), (0, 1), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0), (4, 0), (0, 1), (1, 1), (0, 0), (0, 1), (0, 0), (0, 0), (0, 0), (0, 1), (0, 0), (0, 0), (0, 1), (0, 0), (0, 0), (1, 1), (0, 1), (0, 0), (2, 0), (0, 0), (0, 0), (0, 0), (2, 0), (0, 0), (0, 0), (0, 0), (0, 1), (2, 0), (0, 0), (0, 0), (0, 0), (2, 0), (0, 1), (0, 0), (0, 0), (2, 0), (0, 1), (0, 0), (0, 1), (0, 0), (0, 0), (0, 1), (0, 0), (0, 1), (0, 0), (0, 1), (0, 0), (0, 0), (1, 0), (0, 0), (1, 1), (0, 0), (0, 1), (0, 0), (0, 0), (0, 1), (0, 0), (1, 0), (2, 0)]

In [28]:
train_label.shape

(891,)

In [29]:
prediction.shape

(418,)

In [36]:
test_label = train_label.iloc[0:418]

In [37]:
test_label.shape

(418,)

In [38]:
# evalution

print('Mean Absolute Error' , metrics.mean_absolute_error(test_label,prediction))
print('Mean Squared Error' , metrics.mean_squared_error(test_label , prediction))
print('Root Mean Squared Error' , np.sqrt(metrics.mean_squared_error(test_label,prediction)))

Mean Absolute Error 0.47607655502392343
Mean Squared Error 0.47607655502392343
Root Mean Squared Error 0.6899830106777437

In [39]:
from sklearn.metrics import classification_report , confusion_matrix,accuracy_score

In [40]:
print(confusion_matrix(test_label,prediction))

[[174  81]
 [118  45]]

In [41]:
print(accuracy_score(test_label,prediction))

0.5239234449760766

In [42]:
print(classification_report(test_label,prediction))

              precision    recall  f1-score   support

           0       0.60      0.68      0.64       255
           1       0.36      0.28      0.31       163

    accuracy                           0.52       418
   macro avg       0.48      0.48      0.47       418
weighted avg       0.50      0.52      0.51       418